mixin users(list)
	each user in list
		div(class="user-box")
			div(class="info")
				p= "ID: " + user.id
				p= "Name: " + user.name
				p= "Email: " + user.email
				p= "Age: " + user.age
			div(class="buttons")
				a(href=`/edit_user/${user.id}`) Edit
				form(method="post", action=`/delete_user/${user.id}`)
					button(type="submit") Delete
